*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans';
}

body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("/img/background-image.jpg");
}

.container-cadastro{
    width: 600px;
    height: 500px;
    border-radius: 8px;
    background-image: url(/img/background-cadastro.jpg);
    background-size: cover;
    border-style: groove;
    border-color: gray;
    outline: none;
}

/*Inputs e botões*/
.cadastro{ 

}
.cadastro input{
    outline: none;
}
