body {
    background: url("https://source.unsplash.com/random/1920x1080?sig=10");
    overflow: hidden;
    font-family: 'Sofia Sans';
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(49, 48, 48, 0.8);
    border-radius: 8px;
    width: 370px;
    height: 370px;
    padding: 50px;
}

.login img {
    height: 50px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-top: 10px;
    background: rgb(221, 221, 221);
    border-radius: 5px;
    border: none;
    outline: none;
    height: 30px;
    color: #39393a;
    font-weight: bold;
    padding-left: 10;
}

p{
    color: #FFF;
    padding: 5px;
    margin-top: 20px;
}

.botao {
    margin-top: 10px;
}

.login::placeholder {
    color: #CBD0f7;
    font-size: 14px;
}

form [type="submit"] {
    display: block;
    background-color: #5568FE;
}
form [type="submit"]:hover {
    display: block;
    background-color: #27317c;
}

.login a {
    text-decoration: none;
    
}

@media only screen and (max-device-width: 900px) {
    .menu { width:100%; }
    }