*{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 64px;
    height: 64px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#texto {
    color: black;
    font-style: italic;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 5px;
}

.box {
    background-color: rgba(0,0,0,.55);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
    max-width: 400px;
}

.box img {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;

}

.form-group {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: url("https://source.unsplash.com/random/1920x1080?sig=1");
    
}

.cafe{
    font-size: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
}
